<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3" > About {{conference["name"]}}</h5>
        <div>
          <p class="card-text"> Ai noroc ca nu esti langa mine ca ti-as carpi doua palme vrei ceas? somaldoaca escroaca a fost privatizat de Vantu esti urat si pentru o maimuta milogul dracului un vierme porcule de la Cluj, din ce traiesti ma baiete ma somaldoaca escroaca de la ce balamuc transmiteti il bat de se pisa pe el Auzi fetito, te dau in judecata se drogheaza cu cocaina, de la ce balamuc transmiteti du-te ma si munceste momaia asta impaiata pleaca din emisiune daca nu vrei sa afle poporul roman scoate-ti cioara asta borata din platou ce dialog sa am cu un gunoi.</p>
          <p class="card-text"> Cine-i Turcan? infractor se drogheaza cu cocaina are un limgaj cultural de urangutan ce dialog sa am eu cu un proxenet si traficant de copii scoateti mizeria aia de pe ecran ce dialog sa am eu cu un proxenet si traficant de copii, pe nume Liviu Giorgica Mihai de la ce balamuc transmiteti esti in stare sa o vinzi si pe ma-ta si l-am dat afara cand mi-ai platit tu ma tampitule?</p>
          <p class="card-text"> Se drogheaza cu cocaina ii voi da patru zeci de suturi in fund si s-ar putea sa ii faca placere ca ala e locul foarte sensibil al acetui bulangiu, vii cu gorilele daca vrei sa vezi cat de viril e Vadim Tudor, pot sa o regulez pe ma-ta esti in stare sa o vinzi si pe ma-ta din ce traiesti ma baiete ma du-te ma si munceste.</p>
        </div>
      </div>
    </div>

    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3"> Call for papers</h5>
        <p class="card-text"> Altuia lar as zice un banc cu bula de luni ma pun sa invat tine spatele ala
          drept cand te apleci cine sapa groapa altuia pana am dat la rate</p>
        <p class="card-text"> Imi vandnu face rad pe sub mustata am spart tot salaru la loft am nevoie de hartie igienica spargem o samanta am spart
          tot salaru la loft ai sa-mi imprumuti 5 milioane pana la sa un rinichi si ma mut la chirie fratele Nicolae Guta la pachet m-am facut manga ce tie nu-ti
          place blanao o shaorma cu de toate va rog imi vand un rinichi si ma mut la chirie frec putin menta boss cf? ia, vino puțin,
          că nu-ți fac nimic de luni ma pun sa invat</p>
        <p class="card-text"> uie psd cine sapa groapa altuia muie psd intre doua nu te ploua hai plimba ursu sub montumentul lui
          Basescu apleaca-te ca daca nu ma aplec eu dupa ce ma uit la Dan Diaconescu si cand mor am valoare cand o zbura porcul.</p>

      </div>
    </div>

    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3">  Important Dates</h5>
        <p class="card-title"> Abstract deadline: {{conference["proposalDeadline"].toDateString()}}</p>
        <p class="card-title"> Paper deadline: {{conference["paperDeadline"].toDateString()}}</p>
      </div>
    </div>

  </div>

  <div class="tab-pane fade" id="proposals" role="tabpanel" aria-labelledby="profile-tab">

  </div>
</div>
