<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3" > About {{conference["name"]}}</h5>
        <div>
          <p class="card-text"> {{about}} </p>
        </div>
      </div>
    </div>

    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3"> Call for papers</h5>
        <p class="card-text"> {{callForPaper}}</p>
      </div>
    </div>

    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3">  Important Dates</h5>
        <p class="card-title"> Abstract deadline: {{conference["proposalDeadline"].toDateString()}}</p>
        <p class="card-title"> Paper deadline: {{conference["paperDeadline"].toDateString()}}</p>
      </div>
    </div>

  </div>

  <div class="tab-pane fade" id="proposals" role="tabpanel" aria-labelledby="profile-tab">

  </div>
</div>
