<div class="col mt-3">
  <div *ngFor='let proposalDetailed of conferenceProposalDetailedObserver | async; let i = index' class="flex-column">
    <div class="card mb-5">
      <div class="card-body pb-0">
        <div class="card-header pb-1" style="cursor: pointer" (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed[i]" aria-controls="collapseExample">
          <h2 class="card-title mb-1">{{proposalDetailed.meta_info.name}}</h2>
          <h4 class="card-subtitle mb-1">Conference: {{proposalDetailed.conferenceName}}</h4>
          <p class="card-text mb-1" >Authors: <i>{{proposalDetailed.author_list.join(', ')}}</i></p>
        </div>

        <div class="card-body pb-1">
          <div class="card-text pb-2">
            <div *ngIf="!proposalDetailed.section;else other_content">
              No Presentation Day
            </div>
            <ng-template #other_content>Presentation Day: {{proposalDetailed.section.dateOfPresentation}}</ng-template>
          </div>

          <div class="card-text pb-2" >Keywords: {{proposalDetailed.meta_info.keywords}}</div>

          <div class="card-text pb-2" >Topics: {{proposalDetailed.meta_info.topics}}</div>

          <div id="collapseExample"  class="mt-2" [ngbCollapse]="!isCollapsed[i]">
            <div class="card-text pb-2">Review qualifier:
              <i *ngFor="let qualifier of proposalDetailed.qualifier.slice(0, 3)">
                {{qualifier}}
              </i>
            </div>
            <button class="btn btn-primary mr-4" type="button">
              Open Paper
            </button>
            <button class="btn btn-primary" type="button">
              Open Abstract Paper
            </button>
          </div>

          <div class="d-flex justify-content-end pointerHand">
            <div class="d-inline-block" (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed[i]">
              <a class="nav-link text-primary" *ngIf="!isCollapsed[i]">see more</a>
              <a class="nav-link text-primary" *ngIf="isCollapsed[i]">see less</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
