<div class="col pt-3" >
  <label for="addButton" style="font-size: 2rem" class="d-inline-block m-0 pt-3 font-weight-bold">Sections</label>
  <button class="btn btn-primary text-primary" id="addButton" style="background-color: transparent; border: none; font-size: 1.4rem" data-toggle="modal" data-target="#add-section" (click)="getPCMembers()"><i class="fas fa-plus-circle"></i></button>

  <div class="modal fade" id="add-section" tabindex="-1" role="dialog" aria-labelledby="add-section-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-section-modal">Add Section</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" data-dismiss="modal">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <div class="form-group py-2 form-inline">
          <label for="drop" class="mr-2"> Supervisor:</label>
          <div class="row" id="drop">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownSupervisor" ngbDropdownToggle>{{selectedPCMember?.username}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownSupervisor">
                  <button ngbDropdownItem *ngFor="let pcMember of pcMembers" (click)="selectedPCMember = pcMember">{{pcMember['username']}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="form-group">
            <label for="date">Date of presentation</label>
            <input type="text" class="form-control" id="date" [(ngModel)]="dateOfPresentationString" #ctrl="ngModel">
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" [(ngModel)]="priceString" #ctrl="ngModel">
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" (click)="createSection()">Create Section</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let section of sections; let i = index">
    <div class="my-2">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h2 class="card-title">
                Section {{i + 1}}
            </h2>
            <i class="far fa-trash-alt pl-2" style="font-size: 1.2rem" (click)="deleteSection(section)"></i>
          </div>
          <div class="card-body">
            <p class="card-subtitle">
              <span class="text-primary">Supervisor:</span> {{section?.supervisor.username}}
            </p>

            <p class="card-subtitle">
               <span class="text-primary">Price:</span> {{section?.section.price}}
            </p>

            <p class="card-subtitle">
               <span class="text-primary">Date:</span> {{section?.section.dateOfPresentation}}
            </p>
          </div>
        </div>
        <div class="card-body">
          <h4 class="d-inline-block">Proposals</h4>
          <div ngbDropdown class="d-inline-block">
            <button id="dropdownAcceptedProposals" ngbDropdownToggle><i class="fas fa-plus-circle"></i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownPcMembers">
              <div *ngFor="let acceptedProposal of acceptedProposals">
                <button ngbDropdownItem *ngIf="proposalInASection(acceptedProposal?.proposal_id) == true; else elseButton" disabled> {{acceptedProposal?.meta_info['name']}}</button>
                <ng-template #elseButton>
                  <button ngbDropdownItem (click)="addProposalToSection(acceptedProposal, section)"> {{acceptedProposal?.meta_info['name']}}</button>

                </ng-template>
              </div>
            </div>
          </div>
          <div class="row" *ngFor="let proposal of section?.proposals">
            <span style="font-size: 1.1rem" class="align-self-center m-0 nav-link" > {{proposal?.meta_info.name}} <i class="far fa-trash-alt pl-2" (click)="removeProposal(section, proposal)"></i></span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
