<div class="d-flex flex-column mt-3">
  <div class="form-group">
    <label for="name">Conference Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" #ctrl="ngModel">
  </div>

  <div class="d-flex flex-row">
    <div class="form-group mr-auto">
      <label for="start-date">Start date (MM-DD-YYYY)</label>
      <input type="text" class="form-control" id="start-date" [(ngModel)]="startDate" #ctrl="ngModel">
    </div>
    <div class="form-group">
      <label for="end-date">End date (MM-DD-YYYY)</label>
      <input type="text" class="form-control" id="end-date" [(ngModel)]="endDate" #ctrl="ngModel">
    </div>
  </div>

  <div class="form-group">
    <label for="proposal-deadline">Proposal deadline (MM-DD-YYYY)</label>
    <input type="text" class="form-control" id="proposal-deadline" [(ngModel)]="proposalDeadline" #ctrl="ngModel">
  </div>

  <div class="form-group">
    <label for="paper-deadline">Paper deadline (MM-DD-YYYY)</label>
    <input type="text" class="form-control" id="paper-deadline" [(ngModel)]="paperDeadline" #ctrl="ngModel">
  </div>
  <button class="btn btn-primary mt-auto" (click)="createConference()">Create</button>
</div>

