<div class="my-conferences pt-4">
  <div class="d-flex p-3">
    <h3 class="m-0">Proposals <i class="fas fa-plus-circle p-0 plus ml-4 add-proposal-btn" data-toggle="modal" data-target="#create-proposal" (click)="openModal()"></i></h3>
  </div>
</div>

<div class="col">
  <div *ngFor='let proposalDetailed of conferenceProposalDetailedObserver | async; let i = index' class="flex-column">
    <div class="card mb-5">
      <div class="card-body">
        <div class="card-header" style="cursor: pointer" (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed[i]" aria-controls="collapseExample">
          <h2 class="card-title">{{proposalDetailed.meta_info.name}}</h2>
          <p class="card-text" >Authors: <i *ngFor="let author of proposalDetailed.author_list">{{author}} </i></p>
        </div>

        <div class="card-body">
          <div class="card-text pb-2">
            <div *ngIf="!proposalDetailed.section;else other_content">
              No Presentation Day
            </div>
            <ng-template #other_content>Presentation Day: {{proposalDetailed.section.dateOfPresentation}}</ng-template>
          </div>

          <div class="card-text pb-2" >Keywords: {{proposalDetailed.meta_info.keywords}}</div>

          <div class="card-text pb-2" >Topics: {{proposalDetailed.meta_info.topics}}</div>

          <div id="collapseExample"  class="mt-2" [ngbCollapse]="!isCollapsed[i]">
            <div class="card-text pb-2">Review qualifier:
              <i *ngFor="let qualifier of proposalDetailed.qualifier.slice(0, 3)">
                {{qualifier}}
              </i>
            </div>
            <div class="card-text pb-2">
              Price: {{proposalDetailed.section.price}}
            </div>
            <div class="card-text pb-2">
              <div *ngIf="!proposalDetailed.supervisorName;else other_content_supervisor">
                No Supervisor yet
              </div>
              <ng-template #other_content_supervisor>Supervisor Name during presentation: {{proposalDetailed.supervisorName}}</ng-template>
            </div>
            <button class="btn btn-primary mr-4" type="button">
              Open Paper
            </button>
            <button class="btn btn-primary" type="button">
              Open Abstract Paper
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create-proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Proposal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div #addProposalForm></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" (click)="createProposal()">Create Proposal</button>
      </div>
    </div>
  </div>

</div>


