<div *ngFor="let asd of conferenceProposalObserver | async">
  {{asd.proposalID}}
</div>

<div class="row">
  <div *ngFor='let proposalDetailed of conferenceProposalDetailedObserver | async' class="p-5 col-6">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <h2 class="card-title">{{proposalDetailed.meta_info.name}}</h2>
          <p class="card-text" >Authors: <i *ngFor="let author of proposalDetailed.author_list">{{author}} </i></p>
        </div>

        <div class="card-body">
          <div class="card-text pb-2">
            <div *ngIf="!proposalDetailed.section.length;else other_content">
              No Presentation Day
            </div>
            <ng-template #other_content>Presentation Day: {{proposalDetailed.section[0].dateOfPresentation}}</ng-template>
          </div>

          <div class="card-text pb-2">Review qualifier:
            <i *ngFor="let qualifier of proposalDetailed.qualifier.slice(0, 3)">
              {{qualifier}}
            </i>
          </div>

          <div class="card-text pb-2" >Keywords: {{proposalDetailed.meta_info.keywords}}</div>

          <div class="card-text pb-2" >Topics: {{proposalDetailed.meta_info.topics}}</div>
        </div>
      </div>
    </div>
  </div>
</div>


