<div class="my-conferences pt-4">
  <div class="d-flex p-3">
    <h3 class="m-0">Proposals <i class="fas fa-plus-circle p-0 plus ml-4 add-proposal-btn" data-toggle="modal" data-target="#create-proposal" (click)="openModal()"></i></h3>
  </div>
</div>

<div class="col">
  <div *ngFor='let proposalDetailed of conferenceProposalDetailedObserver | async; let i = index' class="flex-column">
    <div class="card mb-5">
      <div class="card-body pb-0">
        <div class="card-header pb-1">
          <div class="d-flex justify-content-between">
            <div>
              <h2 class="card-title">{{proposalDetailed.meta_info.name}}</h2>
              <p class="card-text mb-2" >Authors: <i>{{proposalDetailed.author_list.join(', ')}}</i></p>
            </div>
            <div ngbDropdown class="d-flex align-items-center">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Options</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem data-toggle="modal" data-target="#edit-proposal" (click)="openModalEdit(i)">Edit proposal</button>
                <button ngbDropdownItem (click)="deleteProposal(i)">Delete Proposal</button>
              </div>
            </div>
          </div>

        </div>

        <div class="card-body pb-1">
          <div class="card-text pb-2">
            <div *ngIf="!proposalDetailed.section;else other_content">
              No Presentation Day
            </div>
            <ng-template #other_content>Presentation Day: {{proposalDetailed.section.dateOfPresentation}}</ng-template>
          </div>

          <div class="card-text pb-2" >Keywords: {{proposalDetailed.meta_info.keywords}}</div>

          <div class="card-text pb-2" >Topics: {{proposalDetailed.meta_info.topics}}</div>

          <div id="collapseExample" [ngbCollapse]="!isCollapsed[i]">
            <div class="card-text pb-2">Review qualifier:
              <i *ngFor="let qualifier of proposalDetailed.qualifier.slice(0, 3)">
                {{qualifier}}
              </i>
            </div>
            <button class="btn btn-primary mr-4"  (click)="downloadPaper(proposalDetailed)" type="button" >
              Open Paper
            </button>
            <button class="btn btn-primary" (click)="downloadAbstract(proposalDetailed)" type="button">
              Open Abstract Paper
            </button>
          </div>

          <div class="d-flex justify-content-end pointerHand">
            <div class="d-inline-block" (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed[i]">
              <a class="nav-link text-primary" *ngIf="!isCollapsed[i]">see more</a>
              <a class="nav-link text-primary" *ngIf="isCollapsed[i]">see less</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="create-proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Proposal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="closeAddModal()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div #AddProposalForm></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" (click)="createProposal()">Create Proposal</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProposalLabel">Edit Proposal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="closeEditModal()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div #EditProposalForm></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" (click)="updateProposal()">Update Proposal</button>
      </div>
    </div>
  </div>
</div>


