.mycustom {
  position: relative;
}
.mycustom input[type=text] {
  width: 100%;
  padding-right: 123px;
}
.mycustom .input-group-prepend {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;z-index:9;
}
