.h-full {
  height: calc(100% - 50px);
}

nav {
  height: 50px;
}

.menu {
  font-size: 0.9rem;
}

.nav-link {
  color: gray;
  text-align: left;
}

.nav-link:hover {
  color: black;
}

.active {
  color: blue;
}

.my-conferences {
  color: gray;
  font-size: 0.9rem;
}

h6 {
  text-align: center;
}

.plus{
  font-size: 1rem;
}
