<div class="col">
  <div *ngFor='let proposalDetailed of conferenceProposalDetailedObserver | async; let i = index' class="flex-column">


    <div class="card mb-5">
      <div class="card-body">
        <div class="card-header" style="cursor: pointer" (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed[i]" aria-controls="collapseExample">
          <h2 class="card-title">{{proposalDetailed.meta_info.name}}</h2>

          <p class="card-text" >Authors: <i *ngFor="let author of proposalDetailed.author_list">{{author}} </i></p>
        </div>

        <div class="card-body">
          <div class="card-text pb-2">
            <div *ngIf="!proposalDetailed.section;else other_content">
              <div>
                No Presentation Day
              </div>

            </div>
            <ng-template #other_content>Presentation Day: {{proposalDetailed.section.dateOfPresentation}}</ng-template>
            <div class="card-text pb-2" >Keywords: {{proposalDetailed.meta_info.keywords}}</div>
            <div class="card-text pb-2" >Topics: {{proposalDetailed.meta_info.topics}}</div>
            <div id="collapseExample"  class="mt-2" [ngbCollapse]="!isCollapsed[i]">
              <div class="card-text pb-2">Review qualifier:
                <i *ngFor="let qualifier of proposalDetailed.qualifier.slice(0, 3)">
                  {{qualifier}}
                </i>
              </div>
              <div class="card-text pb-2">
                Price:
                {{proposalDetailed.section.price}}
              </div>
              <div class="card-text pb-2">
                <div *ngIf="!proposalDetailed.supervisorName;else other_content_supervisor">
                  <div>
                    No Supervisor yet
                  </div>

                </div>
                <ng-template #other_content_supervisor>Supervisor Name during presentation: {{proposalDetailed.supervisorName}}</ng-template>
                <div class="">
                  <div class="mt-4" >
                    <h5 class="card-title">Reviews:</h5>
                  </div>
                  <div class="mt-4" >
                    <h6 class="card-title">My Reviews:<i class="fas fa-plus-circle p-0 ml-4 plus add-proposal-btn" data-toggle="modal" data-target="#create-proposal"></i></h6>
                    <ul class="list-group">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                  </div>


                  <div class="mt-4" >
                    <h6 class="card-title">Other Reviews:</h6>
                    <ul class="list-group">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


